@charset "UTF-8";

.characteristics {
    display: flex;
    flex-direction: column;
}

.characteristics > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.characteristics > div:nth-child(2) {
    padding-top: 3rem;
}

.characteristics > div:nth-child(2) > div {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    flex-wrap: wrap;
}

.definition {
    margin-top: 4rem;
    position: relative;
}

.definition::after {
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    content: "";
    background-color: #D1D2D5;
}

.definition > div {
    padding-top: clamp(2rem, 2.5vw, 4rem);
}

.definition > div > span {
    font-size: 1.75rem;
    font-weight: 700;
}

.definition > div > p {
    margin: 0;
    padding-top: 1rem;
}
