@charset "UTF-8";

article {
    position: relative;
    flex-grow: 1;
}


article > section > .image {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    min-height: 55vh;
}

article > .section > .center > p:first-child {
    margin: 3rem 0 3rem 0;
}

article > .section > .center > p{
  margin: 0 0 3rem 0;
padding: 0;
}

article > .section > .center > p:last-child {
  margin: 0;
padding: 0;
}

article > .section > .center > p > img {
    width: 100%;
}

.prologue {
    font-weight: 600;
    padding: 3rem 0 3rem 0;
}


.prologue > * {
    padding: 0;
    margin: 0;
}

@media (min-width : 1441px) {
    article {
        padding-bottom: 13rem;
    }

    article > div.section {
        padding-top: 13rem;
    }

    .prologue {
        font-size: 3rem;
    }
}

@media (min-width : 1201px) and (max-width : 1440px) {
    article {
        padding-bottom: 11rem;
    }

    article > div.section {
        padding-top: 11rem;
    }

    .prologue {
        font-size: 2.9rem;
    }
}

@media (min-width : 961px) and (max-width : 1200px) {

    article {
        padding-bottom: 9rem;
    }

    article > div.section {
        padding-top: 9rem;
    }

    .prologue {
        font-size: 2.8rem;
    }
}

@media (min-width : 721px) and (max-width : 960px) {

    article {
        padding-bottom: 7rem;
    }

    article > div.section {
        padding-top: 7rem;
    }

    .prologue {
        font-size: 2.7rem;
    }
}

@media (min-width : 481px) and (max-width : 720px) {

    article {
        padding-bottom: 5rem;
    }

    article > div.section {
        padding-top: 5rem;
    }

    .prologue {
        font-size: 2.6rem;
    }
}

@media (max-width : 480px) {

    article {
        padding-bottom: 3rem;
    }

    article > div.section {
        padding-top: 3rem;
    }

    .prologue {
        font-size: 2.5rem;
    }
}
