@charset "UTF-8";

header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  transition: all .25s ease-in-out;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
}

header > div,
header > div > div {
  height: inherit;
}

@media (min-width : 1441px) {
  header {
    height: 15rem;
  }
}

@media (min-width : 1201px) and (max-width : 1440px) {
  header {
    height: 14rem;
  }
}

@media (min-width : 961px) and (max-width : 1200px) {
  header {
    height: 13rem;
  }
}

@media (min-width : 721px) and (max-width : 960px) {
  header {
    height: 12rem;
  }
}

@media (min-width : 481px) and (max-width : 720px) {
  header {
    height: 11rem;
  }
}

@media (max-width : 480px) {
  header {
    height: 10rem;
  }
}
